* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

}
footer {
  background-color:  #030A3C;
  padding-left: 50px;
  display: block;
  padding-bottom: 20px;
}
.p1 {
  font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: rgba(255, 255, 255, 0.6);

}
.p2 {
  font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

color: #F5F5F5;

}