* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

.btn-menu-mobile {
    display: none;
}
.sectionone {
    background: url(../images/foto1l.png);
    
  width: 100%;
     height: 100vh;
     overflow: hidden;
      background-size: cover;
   
    
}
.menu {
    height: 116px;
    width: 100%;
   display: flex;
   justify-content: space-evenly;
   
  
}
.logo {
    height: 116px;
    display: flex;
    align-items: center;
}
.logoimg {
    max-height: 69px;
    max-width: 173px;
}
.listamenu  {
    height: 116px;
    display: flex;
    align-items: center;
    width: 100vh;
    justify-content: space-between;

}
.listamenu li a {
color: #FDFDFD;
font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;


letter-spacing: -0.03em
}
.listamenu li a:hover {
    color: #ccc;
}

/* conteudo */
.conteudo {
    display: block;
    padding-right: 68px;
    padding-top: 130px;
    
}
.conteudo1 {
    display: flex;
    width: 100%;
    justify-content: end;
}
.conteudo1 h1 {
    font-family: 'Audiowide';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 89px;
text-align: right;
letter-spacing: -0.03em;

color: #FDFDFD;
padding-top: 0px;
}
.titulo1 h4 {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    /* identical to box height */
    
    text-align: right;
    letter-spacing: -0.06em;
    text-transform: lowercase;
    
    color: #FDFDFD;
    padding-right: 8px;
    
}
.titulo1 h4::after {
    display: flex;
    content: "";
    border: 2px solid #FDFDFD;
    margin-top: 7px;
    width: 100%;
    
}

.btn {
width: 295px;
height: 87px;
background: linear-gradient(180deg, rgba(8, 58, 153, 0.67) 0%, #011F57 100%);
border-radius: 15px;
border: none;

font-family: 'Audiowide';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 45px;
cursor: pointer;
letter-spacing: -0.06em;
text-transform: lowercase;
color: #FDFDFD;


}
.btn:hover {
    color: #ccc;
 
   
}

.btncontainer {
    padding-top: 40px;
}
@media (max-width: 1452px) {
    .menu {
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 30px;
    }
    .btn-menu-mobile {
        height: 116px; 
        display: flex;
       align-items: center;
       width: 100%;
       justify-content: flex-end;
    }
    [data-menu="button"] {
        width:  124px;
        height: 42px;
        display: flex;
       justify-content: center;
       font-family: 'Audiowide';
       font-style: normal;
        align-items: center;
        position: relative;
        color: #fff;
        font-size: 17px;
        position: relative;
        padding: 10px ;
        border-radius: 15px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
       
        border: none;
        position: relative;
        overflow: hidden;
        z-index: 1;
        background:linear-gradient(180deg, rgba(8, 58, 153, 0.67) 0%, #011F57 100%);
    }
    [data-menu="button"]:hover {
        border-radius: 15px 15px 0px 0px;
    }   
    

      
    
    
    

   
    


   [data-menu="list"] {
padding-top: 20px;
padding-bottom: 10px;
    display: none;
    margin-top: 0px;
    position: absolute;
    background:linear-gradient(180deg, rgba(8, 58, 153, 0.67) 0%, #011F57 100%);
    height: 220px;
    width: 124px;
  
    z-index: 200;
    margin-top: -40px;
   
    border-radius: 0px 0px 30px 30px;
  
   
    
   
   
   }
   .menu li {
    text-align: center;
    
   }
   .li1 {
   
   }
 
   [data-menu="list"].active {
    display: block;
    animation: show-right .3s forwards;
   }
   .menu li {
 
height: 40px;
display: flex;
   }
   .botao {
    width: 100px;
    margin-left: 0;
    border-radius: 4px;
    display: flex;
   
   }
   nav {
    padding-right: 0;
   }
}
@media (max-width: 450px) {
   
    .sectionone {
        background: url(../images/Banner_principal-mobile.png);
         background-size: cover;
      width: 100%;
         height: 380px;
         overflow: hidden;
       
        
    }
    .titulo1 h4 {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        /* identical to box height */
        
        text-align: right;
        letter-spacing: -0.06em;
        text-transform: lowercase;
        
        color: #FDFDFD;
        padding-right: 8px;
        
    }
    .titulo1 h4::after {
        display: flex;
        content: "";
        border: 2px solid #FDFDFD;
        margin-top: 7px;
        width: 100%;
        
    }
    .conteudo {
        display: block;
        padding-right: 20px;
        padding-top: 0px;
        
    }
    .conteudo1 h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .btn {
        width: 130px;
        height: 60px; 
        font-size: 15px;
       padding-left: 3px;
       padding-right: 3px;
       font-weight: bold;
    }
    
    .btncontainer {
        padding-top: 20px;
    }
}

@media (max-width: 380px) {
    .conteudo1 h1 {
        font-size: 50px;
    }
   
}



