* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}

.sessao2 {
    background-color:#030A3C ;
   overflow: hidden;
    padding-bottom: 70px;
    width: 100%;
  overflow: hidden;
  position: relative;
  padding-right: 20px;

 
}
.logoatividade {
    display: flex;
   justify-content: center;
   padding-top: 45px;
   padding-bottom: 60px;
   
}
.imgativadades {
    max-height:326px ;
    max-width: 393px;
    border-radius: 12px 12px 0px 0px;
}

.container-atividades  {
    display: flex;
    position: relative;
    width: 100%;
  overflow-x: scroll;
   cursor: pointer;
    padding-right: 20px;
    padding-bottom: 30px;
   margin-left: 20px;

}
.container-atividades::-webkit-scrollbar  {
    width: 0px;
    height: 10px;
    background-color: #030A3C;
    border-radius: 50%;
    
 

}
.container-atividades::-webkit-scrollbar-thumb {
   background:  linear-gradient(180deg, #A460DB 53.33%, #085AFE 100%);
border-radius: 30px;
   
}



.box-atividades {
    background: linear-gradient(180deg, #9C33B8 0%, #5713A9 100%);
    height: 207px;
    border-radius: 0px 0px 12px 12px;
    margin-top: -4px;
    width: 393px;
}
.box-containers {
    width: 393px;
    margin-left: 20px;
}
.box-containers img {
    object-fit: cover;
    
}
.titulo-box {
color: #FDFDFD;
font-family: 'Audiowide';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
text-align: center;
letter-spacing: -0.03em;
padding-top: 23px;
}
.descricao-box {
padding-top: 20px;
padding-left: 50px;
padding-right: 40px;
text-align: center;
font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;
letter-spacing: -0.03em;

color: #FDFDFD;

}
.buttons {
    padding-top: 35px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.btns {
    width: 85px;
height: 85px;
background: linear-gradient(180deg, #A660DB 0%, #075AFE 100%);
border-radius: 50%;
color: #fff;
font-size: 42px;
border: none;
margin: 10px;
cursor: pointer;

}
.btns:hover {
    color: #ccc;

}
.voltarbtn .proximobtn {
    transform: translateY(-100%);
}

.item,
.current-item {
  transition: all 0.5s ease; /* adiciona uma transição de 0.5 segundos para todas as propriedades */
}

.item {
  /* estilo padrão para os itens */
}

.current-item {
  /* estilo para o item atual */
}

/*musculação*/
@media (max-width: 1100px) {
   
    .imgativadades {
      
    }
    .titulo-box {
        font-size: 23px;
        padding-top: 3px;
    }
    .descricao-box {
        font-size: 14px;
        line-height: 23px;
        padding-left: 20px;
    padding-right: 15px;
    padding-top: 7px;
    }
    .box-atividades {
      height: 200px;
    }
    .btns {
        width: 55px;
        height: 55px;
        font-size: 32px;
    }
}
@media (max-width: 768px) {
    .box-containers {
      width: 100%;
    }
}
    @media (max-width: 450px) {
        .item  {
            margin-left: 35px;
        }
        .item1 {
            margin-left: 0px;
        }
        .container-atividades {
            margin-left: 10px;
        }
        .logoatividade {
            display: flex;
            justify-content: center;
        }
        .sessao2 {
            padding-right: 0px;
        }
        .descricao-box {
            font-size: 20px;
            line-height: 29px;
            padding-left: 20px;
        padding-right: 15px;
        padding-top: 7px;
        }
        .titulo-box {
            font-size: 29px;
            padding-top: 3px;
        }
    }

    @media (max-width: 380px) {
        .item {
        margin-left: 10px;
        }
        .imgativadades  {
            width: 320px;
        }
        .box-atividades {
            width: 320px;
        }
        .logoimgsessao2 {
            max-width: 350px;
        }
    }
  